.SignUp__BackgroundImage {
  background-image: url("../assets/register-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.SignUp__Logo {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.SignUp__Logo__Image {
  height: 65px;
  width: auto;
}

.SignUp__Logo__Text {
  color: #FFFFFF;
  margin-left: 10px;
  font-family: "Comfortaa";
  font-weight: bold;
  margin-bottom: 0;
}

.SignUp__InfoColumn {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: #eaf4f4;
}

.SignUp__InfoColumn__Row__IntroductionText {
  font-weight: 500;
  font-size: 1.2rem;
}

.SignUp__InfoColumn__Row {
  box-shadow: 0 5px 10px 2px rgb(150, 150, 150, 0.5);
  background-color: #FFFFFF;
}


 /*Medium devices (tablets, 768px and up)*/
@media (max-width: 767.98px) {
  .SignUp__BackgroundImage {
    height: 100%;
  }

  .SignUp__Logo {
    margin: auto;
  }
}